# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

DemoManMonitor
testrunner
*.raw
AlsaSourceRecorder
AlsaSinkPlayer
AdafruitThermalTest
models
keywords.txt

